<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro de usuário:</h1>

    <form action="/cadastro" method="post">
        <label for="usuario_cadastro">Usuário:</label>
            <input type="text" name="usuario_cadastro" id= 'usuario_cadastro' minlength="5" maxlength="20" required>
        <label for="senha_cadastro">Senha</label>
            <input type="password" name="senha_cadastro" id="senha_cadastro" minlength="4" maxlength="20" required>
        <button type="submit">Cadastrar</button>
    </form>
    <p>Já tem uma conta? <a href="{{ url_for('login') }}">Volte para o login</a></p>

    {% include 'mensagens_flash.html' %}



</body>
</html>